button{
	outline: 0;
}
input[type="radio"]{
	margin-left: 1px !important;
}
.page-transparent{
	background: transparent !important;
}
.region-description, .grocery-select-page{
	position: relative;
	height: 200px;
	background: transparent !important;
}
.parallax-window {
    min-height: 200px;
    background: transparent;
}
.region-description-text{
	margin-top: 75px;
	font-size: 30px;
	text-align: center;
	color: #FFF;
	font-weight: 300;
	text-shadow: 1px 1px 3px #000;
}
.region-description-flag:before, .grocery-select-icon:before{
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
    font-family: FontAwesome;
    font-size: 30px;
    color: #fff;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-style: normal;
    text-align: center;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background: rgba(0,0,0,.5);
	border: 1px solid #FFF;
	margin: 0 auto;
}
.grocery-i-icon {
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
    font-size: 30px;
    color: #fff;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background: url("../images/grocery-i-icon.png") no-repeat center center rgba(0,0,0,.5);
	border: 1px solid #FFF;
	margin: 0 auto;
}
.region-description-flag:before{
	content: "\f041";
}
.grocery-select-icon:before{
	content: "\f290";
}
.region-area {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 0;
	overflow:hidden;
}
.vertical{
	display: table;
	margin-bottom: 20px;
}
.region-link{
	width: 90px;
    height: 90px;
	padding: 5px;
    font-size: 14px;
    text-align: center;
    display: table-cell;
    overflow: hidden;
    vertical-align:middle;
	background-color: #fdd922;
	transition: all .3s;
	border-radius: 50px;
}
.region-link:hover {
	color: #FFF !important;
	background: #65D31F !important;
	transition: all .3s;
	opacity: 1 !important;;
}
.page-grocery [class*="col-"]{
    padding-left: 2px;
	padding-right: 2px;
}
.page-grocery .row {
	margin-left: -2px;
	margin-right: -2px;
}
.select-region-wrapper{
	width: 360px;
	margin: 75px auto;
}
.block-currency-region{
	display: block;
	width: 360px;
	text-align: center;
	font-size: 16px;
	background: #FFF;
	padding: 10px;
}
.block-currency-region .caret{
	position: absolute;
	right: 10px;
	top: 18px;
	border-top: 7px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.select-region-wrapper .dropdown-menu {
	min-width: 360px;
	max-height: 300px;
	overflow-y: auto;
	margin-top: 1px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
.select-region-wrapper .dropdown-menu>li>a {
	padding: 5px 20px;
	font-size: 12px;
}
.grocery-title-and-display {
	position: relative;
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.grocery-title-and-display .sorter{
	position: absolute;
	right: 0;
	bottom: 22px;
}
.grocery-title-and-display .sorter .view-mode{
	margin-right: 0;
}
.grocery-page-title{
	margin: 0px 130px 0px 0;
}
.letter-order-area{
	margin-bottom: 30px;
}
.letter-order-title{
	font-size: 16px;
	margin: 0 0 10px 0;
}
.letter-order-title strong{
	padding: 1px 6px 2px;
	color: #FFF;
	background: #666;
	margin-right: 5px;
}
.grid-view-item .grocery-list-item-box {
	position: relative;
	height: 120px;
	margin-bottom: 4px;
	background: url("../images/grocery-list-item-box-bg.jpg") no-repeat right bottom #F4F4F4;
	overflow: hidden;
	padding: 10px 10px 10px 120px;
}
.grid-view-item .grocery-logo{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 100px;
	height: 100px;
	z-index: 10;
}
.grid-view-item .grocery-logo img{
	background: #FFF;
	width: 100px;
	height: 100px;
}
.grid-view-item .grocery-info-area {
	padding: 5px;
	height: 100px;
}
.grid-view-item .grocery-info-area h4{
	width: auto;
	margin: 0;
	color: #4ca811;
	height: 74px;
	font-weight: normal;
	font-size: 16px;
	text-shadow: 1px 1px 1px #fff;
}
.grid-view-item .grocery-info-footer{
	height: 20px;
	    text-shadow: 1px 1px 1px #fff;
}
.grid-view-item .grocery-info-footer-col {
	display: block;
	float: left;
	height: 20px;
	margin-right: 5px;
	text-align: left;
	color: #444;
}
.grid-view-item .grocery-vote{
	width: 65px;
}
.grid-view-item .grocery-min-azn{
	width: 105px;
}
.grid-view-item .overlay-grocery-item{
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 120px;
	background-color: rgba(253,217,56,.7);
	z-index: 13;
}

.grid-view-item .grocery-list-item-col:hover .overlay-grocery-item{
	opacity: 1;
	transition: all .2s ease-in;
}
.grid-view-item .grocery-select-btn{
	display: block;
	width: 100px;
	height: 34px;
	margin: 45px auto;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	background: #F4F4F4;
	border: 2px solid #fff;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.grid-view-item .grocery-select-btn:before {
	color: #333;
    font-family: FontAwesome;
    content: "\f00c";
	margin-right: 10px;
	font-size: 14px;
}
.grid-view-item .overlay-grocery-item a:hover{
	color: #000;
}
/*index*/
.block{
	border: 1px solid #e0e0e0;
	border-top: solid 3px #4ca811;
	background: #fafafa;
}
.block .block-title{
	border-top: 0;
	border-bottom: 1px #e0e0e0 solid;
    background: #eee;
}
.block .block-content{
	margin-bottom: 5px !important;
}
.block-viewed .block-content {
    background-color: transparent;
}
#nav > li > a, #nav ul.level0 > li > a{
	text-transform: none;
}
.cat-img-title.cat-bg .cat-heading, .cat-img-title.cat-bg p{
    color: #FFFFFF;
    background: rgba(0,0,0,0.8);
    padding: 5px;
	margin-bottom: 1px;
}
.level0 a, .level1 a{
	position: relative;
}
/*
#nav ul.level1 > li a {
	border-bottom: 1px solid transparent;
}
#nav ul.level1 > li a:hover {
	border-bottom: 1px solid #f0f0f0;
}
*/

.category-label-hot{
	position: absolute !important;
	right: 1px;
	top: 1px;
	display: block;
	width: 28px;
	height: 14px;
	padding: 3px 2px;
	margin: 0;
	font-size: 7px;
	font-weight: bold !important;
	font-family: "Open Sans", sans-serif;
	color: #333;
	text-align: center;
	line-height: 1 !important;
	letter-spacing: normal !important;
	background: #F9CE1D;
	border: 1px solid #EEE;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}
#nav ul.level1 > li a:hover .category-label-hot{
	background: #4ca811;
	color: #FFF;
}
.product-list-tabs {
	padding: 0px;
    background-color: #FFFFFF;
	margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}
.product-list-tabs .product-tabs a{
	text-transform: none;
	width: 130px;
	text-align: center;
}
.product-list-tabs .toolbar{
	padding: 15px 0;
}
.product-list-tabs .toolbar.top-border{
	border-top: 3px solid #e5e5e5;
}
.product-list-tabs .toolbar.bottom-border{
	border-bottom: 3px solid #e5e5e5;
	margin-bottom: 10px;
}
.product-list-tabs .toolbar .pager{
	float: none;
	width: 100%;
	padding: 0 5px;
}
.nav-tabs > li.active > a, .product-list-tabs .nav-tabs > li.active > a:hover, .product-list-tabs .nav-tabs > li.active > a:focus{
	height: 42px;
}
.product-tabs {
	border-bottom-color: #4CA811;
}
.product-tabs a{
	height: 39px;
	background: #eee;
}
.product-list-tabs .nav-tabs.product-tabs > li > a, .product-list-tabs .nav-tabs.product-tabs > li > a:hover{
	margin-right: 3px;
	padding: 12px 5px;
}
.product-image-area{

}
.products-grid li.item{
	margin-bottom: 50px;
}
.item .col-item{
	padding: 1px;
}
.item .col-item, .item .col-item .product-image-area *{
	transition: all .5s;
}
.item .col-item:hover{
	box-shadow: 0 1px 7px #AAA;
	-moz-box-shadow: 0 1px 7px #AAA;
	-webkit-box-shadow: 0 1px 7px #AAA;
}
.col-item .info .info-inner .item-title{
	padding-top: 10px;
	height: 70px;
    white-space: normal;
}
.col-item .info .info-inner .item-title a{
	font-weight: bold;
}
.item .product-image-area .product-image{
	display: block;
	height: 180px;
	background: #FFF;
}
.item .product-image-area .product-image img{
	vertical-align: middle;
}
.hover_fly {
	position: static !important;
	overflow: hidden;
	background: #FFF;

}
.hover_fly a{
	background: #777;
	border-right: 1px #666 solid;
}
.hover_fly a:hover{
	background: #999 !important;
}
.hover_fly:hover a:hover{
	background: #999;
}
.hover_fly.fly_3 a {
	width: 16%;
}
.hover_fly.fly_3 a:first-child {
	width: 68%;
}
.hover_fly a:first-child{
	background: #999;
}
.hover_fly.fly_3 a:hover {
	width: 68% !important;
}
.hover_fly.fly_3:hover a:first-child {
	width: 16%;
}
.hover_fly:hover a:first-child {
	background-color: #777;
	text-align: center;
	color: #FFF;
}
.item-buy-btn{
	margin-bottom: 1px;
}
.item-buy-btn a {
	font-size: 1.5em;
	color: #333;
	display: block;
	height: 35px;
	line-height: 34px;
	position: relative;
	background: #f9ce1d;
	text-align: center;
	white-space: nowrap;
}
.item-buy-btn a span {
	display: inline-block;
	white-space: nowrap;
	font-size: 14px;
	vertical-align: top;
	text-transform: uppercase;
	margin-left: 6px;
	font-family: 'Open Sans', sans-serif;
}
.item-buy-btn a i {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	font-size: 15px;
	margin-right: 5px;
}
.item-buy-btn a:hover{
	background: #F3C300;
	color: #FFF;
}
.block-cart ul{
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ECECEC;
}
.block-cart .summary .amount a{
	color: #4ca811;
}
.block-cart ul {
    max-height: 200px;
    overflow-y: auto;
}
.col-left .block-cart .block-content ul li .product-details{
	float: none;
	width: auto;
}
.col-left .block-cart .block-content ul li .product-name{
	overflow: hidden;
    white-space: nowrap;
}
.col-left .block-cart ul li.item {
    margin-bottom: 3px;
    padding-bottom: 4px;
}
.block .btn-remove1{
	margin-top: 2px;
}
ul#cart-sidebar{
	max-height: 200px;
    overflow-y: auto;
}
.mini-cart {
	padding-top: 0;
	padding-bottom: 0;
	height: 35px;
}
.mini-products-list .detail-item{
	margin-left: 0;
}
.mini-products-list .detail-item .product-details-bottom .price{
	display: inline;
}
.top-cart-content .product-name{
	width: 90%;
	overflow: hidden;
    white-space: nowrap;
}



@media only screen and (max-width: 480px) {
	.region-description-text{
		margin-top: 55px;
		font-size: 24px;
		text-align: center;
		color: #FFF;
		font-weight: 300;
		text-shadow: 1px 1px 3px #000;
	}
	.select-region-wrapper .dropdown-menu {
		width: 360px;
	}

}
@media only screen and (max-width: 767px) {
	.page-grocery .main-container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.product-list-tabs{
		overflow: visible;
	}
	.product-list-tabs .nav-tabs>li{
		display: block;
		float: none !important;
	}
	.product-list-tabs .product-tabs{
		height: auto;
		border-left: 3px solid #4CA811;
		border-right: 3px solid #4CA811;
		border-top: 3px solid #4CA811;
	}
	.product-tabs a{
		width: 100%;
	}
	.product-list-tabs .nav-tabs.product-tabs > li > a, .product-list-tabs .nav-tabs.product-tabs > li > a:hover{
		margin-right: 0px;
		width: 100%;
	}
	.product-list-tabs.nav-tabs > li.active > a:hover, .product-list-tabs .nav-tabs > li.active > a:focus{
		border-bottom: 3px solid #ddd;
	}
	.nav-tabs.product-tabs > li > a {
		border-bottom: 3px #ddd solid;
	}

}
@media only screen and (max-width: 979px) {
	.product-list-tabs .product-tabs a{
		font-size: 11px;
		width: 100px;
	}

}
@media only screen and (max-width: 767px) and (min-width: 480px){
	.product-list-tabs .product-tabs li:last-child {
		display: block;
	}
}
