{% include 'header.html' %}

    <form method="post">
        <div class="form-group">
            <label for="sel1">Şehir listesi:</label>
            <select class="form-control" id="sel1" name="selectCity" onclick="form.submit()">
                {% for city in cityList %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
        </div>
    </form>


    {% if addressList is not null %}
        <form id="goToMarketHome" method="post" action="">
            <div class="form-group">
                <label for="sel1">Şehir listesi:</label>
                <select class="form-control" id="selectAddressId" name="selectDistributer" onchange="goToNextPage()">
                    {% for address in addressList %}
                        <option value="{{ address.id }}">{{ address.id }} -- {{ address.borough }} -- {{ address.locality }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    {% endif %}


    {% if distributerList is not null %}
        <div class="form-group">
            <ul class="list-group">
                {% for distributer in distributerList %}
                    <li class="list-group-item"> ... <a href="index.php?marketId={{ distributer.id }}">{{ distributer.id }}</a> </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% include 'footer.html' %}

<script>

        function goToNextPage(){
            var e = document.getElementById("selectAddressId");
            var value = e.options[e.selectedIndex].value;

            document.getElementById("goToMarketHome").setAttribute("action", "start.php?distributerAddress="+value);
            document.getElementById("goToMarketHome").submit();
        }

</script>
